@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Sans+TC:wght@100..900&family=Stylish&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 25px 30px;
    position: fixed;
    z-index: 10;
    background: white;
}

.header .logo img{
    width: 220px;
    height: 50px;
}

.header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header ul li {
    padding-left: 30px;
    font-size: 20px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
}

.container {
    padding-top: 7%;
}

.container .items {
    display: grid;
    grid-template-columns: repeat(3, 435px);
    grid-template-rows: repeat(2, 390px);
    justify-content: center;
}

.item {
    border: 3px solid white;
}

.container .item1 {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_01_02.png");
    position: relative;
    background-size: contain;
    
}

.container .item1 .item1_slide {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_03_03.png");
    position: absolute;
    top: 0;
    left: 0;
    animation: test 4s step-start infinite normal; 
    background-size: contain;
}

.container .item2 {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_02_04.png");
    position: relative;
    background-size: contain;
}

.container .item2 .item2_slide {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_01_06.png");
    position: absolute;
    top: 0;
    left: 0;
    animation: test 4s step-start infinite normal; 
    background-size: contain;
}

.container .item3 {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_04_07.png");
    position: relative;
    background-size: contain;
}

.container .item3 .item3_slide {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_04_02.png");
    position: absolute;
    top: 0;
    left: 0;
    animation: test 4s step-start infinite normal; 
    background-size: contain;
}

.container .item4 {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_04_04.png");
    position: relative;
    background-size: contain;
}

.container .item4 .item4_slide {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_03_08.png");
    position: absolute;
    top: 0;
    left: 0;
    animation: test 4s step-start infinite normal; 
    background-size: contain;
}

.container .item5 {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_01_04.png");
    position: relative;
    background-size: contain;
}

.container .item5 .item5_slide {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_01_05.png");
    position: absolute;
    top: 0;
    left: 0;
    animation: test 4s step-start infinite normal; 
    background-size: contain;
}

.container .item6 {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_06_04.png");
    position: relative;
    background-size: contain;
}

.container .item6 .item6_slide {
    width: 100%;
    aspect-ratio: 6 / 6;
    background-image: url("./img/mv_03_06.png");
    position: absolute;
    top: 0;
    left: 0;
    animation: test 4s step-start infinite normal; 
    background-size: contain;
}

@keyframes test {
    0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

.column_slides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1500px;
    margin-top: 10%;
}

.column_slides .slides_column_text {
    position: sticky;
    top: 150px;
    left: 10px;
    font-size: 30px;
    margin-right: 5%;
    align-self: flex-start;
}

.column_slides .slides_column_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column_text_title {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.column_text_subtitle {
    font-size: 23px;
    font-weight: 600;
    color: #647080;
    margin: 7% 0;
}

.column_btn {
    font-size: 14px;
    border-radius: 4px;
    background-color: rgb(44, 41, 41);
    color: white;
    padding: 5px;
}

.column_slides .slides_column_img .column_imgs {
    width:350px; 
    height:450px; 
    border-radius: 7%;
  }

.slides_column_img .img1 {
    background-image: url("./img/bg_illust.png");
    position: relative;
}

.slides_column_img .img1 .img1_1 {
    width:300px; 
    height:300px; 
    background-image: url("./img/cat_coffee.png");
    background-size: contain;
    position: absolute;
    top: 17%;
    left: 7%;
    z-index: 1;
    border-radius: 7%;
}

.slides_column_img .img2 {
    background-image: url("./img/bg_wood.jpg");
    background-size: contain;
    position: relative;
}

.slides_column_img .img2 .img2_1 {
    width:300px; 
    height:300px; 
    background-image: url("./img/cat_food.png");
    background-size: contain;
    position: absolute;
    top: 17%;
    left: 7%;
    z-index: 1;
    border-radius: 7%;
}

.slides_column_img .img3 {
    background-image: url("./img/bg.png");
    position: relative;
}

.slides_column_img .img3 .img3_1 {
    width:300px; 
    height:300px; 
    background-image: url("./img/cat_set.png");
    background-size: contain;
    position: absolute;
    top: 17%;
    left: 7%;
    z-index: 1;
    border-radius: 7%;
}

.row_slider {
    height: 1000px;
    background: white;
}